
  /*cha recipe text animation*/
*{
    margin: 0;
    padding: 0;
}
.text-box{
    font-size: 140px;
    font-family: sans-serif;
    position:absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.steps{
    font-size: 75px;
    font-family: sans-serif;
    position:absolute;
    padding-top: 1000px;
}

span{
    display:inline-block;
    font-weight: bolder;
    animation: mover 6s linear infinite;
    color: rgb(182, 102, 48);
}
@keyframes mover{
    0%{
        text-shadow:0 0 30px rgba(0, 0, 0, 0) ;
    }
    50%{
        text-shadow:0 0 30px rgba(0, 0, 0, 0.30) ;
        transform: translateY(30px);
    }
    100%{
        text-shadow:0 0 30px rgba(0, 0, 0, 0) ;
    }
}
span:nth-child(1)
{
    animation-delay: 0.5s;
}
span:nth-child(2)
{
    animation-delay: 1s;
}
span:nth-child(3)
{
    animation-delay: 1.5s;
}
span:nth-child(4)
{
    animation-delay: 2s;
}
span:nth-child(5)
{
    animation-delay: 2.5s;
}
span:nth-child(7)
{
    animation-delay: 3.5s;
}
span:nth-child(8)
{
    animation-delay: 4s;
}
span:nth-child(9)
{
    animation-delay: 4.5s;
}


/* hover button*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    text-align: left;
    background: rgb(182, 102, 48);
}

p {
    font-size: 1.6em;
    font-family: sans-serif;
    background-color: #fff;
    padding: 1em;
    color: #002240;
    margin-top: 0;
}

/* .button */

.button {
    display: inline-block;
    position: relative;
    margin: 1em;
    padding: 0.67em;
    border: 2px solid #FFF;
    overflow: hidden;
    text-decoration: none;
    font-size: 2em;
    outline: none;
    color: #FFF;
    background: transparent;
    font-family: 'raleway', sans-serif;
}

.button span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.button:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

.button:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

/* Span on :hover and :active */

.button:hover span,
.button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.button:hover:before,
.button:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

/* 
  We hide :before pseudo-element on :active
*/

.button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

/*test*/
.button {
    background-color: rgba(117, 60, 22, 0.575);
    border: none;
    color: rgb(54, 28, 10);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} 
  
  .inline-block-center {
    text-align: center;
  }
  .inline-block-center div {
    display: inline-block;
    text-align: left;
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }