body {
    background-color: rgb(212, 188, 123);
    place-items: center;
   margin: 0;
  }
h1 { text-align:center; color:rgb(61, 45, 21); font-size : 50px; font-family:'Franklin Gothic'; 
}
p {text-align:center; color:rgb(109, 54, 54); font-size : 20px; font-family:'Franklin Gothic Medium';
}

a {text-align:center; color:rgb(109, 54, 54); font-size : 20px; font-family:'Franklin Gothic Medium';
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: brown;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: blue;
}

.cup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 160px;
  background: rgb(182, 39, 39);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cup::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  border-radius: 50%;
  background: orange;
  border: 7px solid  rgb(182, 39, 39);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.cup:after {
  content: '';
  position: absolute;
  top: 48%;
  right: -50px;
  height: 90px;
  width: 80px;
  border-radius: 50%;
  background: transparent;
  border: 12px solid  rgb(182, 39, 39);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}