body {
    background-color: rgb(212, 188, 123);
    place-items: center;
   margin: 0;
  }

  p1 { 
    position: absolute;
    text-align:center; 
    color:rgb(61, 45, 21); 
    font-size : 800px; 
    font-family:'Franklin Gothic'; 
    top: 0%;
    margin: 30px;
    font-weight: bold;
  }
  
  p2 { 
    text-align:center; 
    color:rgba(61, 45, 21, 0.808); 
    font-size : 700px; 
    font-family:'Franklin Gothic'; 
    top: 0%;
    margin: 60px;
    font-weight: bold;
  }

a { 
  text-align:center; 
  color:rgba(61, 45, 21, 0.808); 
  font-size : 500px; 
  font-family:'Franklin Gothic'; 
  top: 0%;
  margin: 100px;
  font-weight: bold;
}


/* unvisited link */
a:link {
  color: rgb(61, 45, 21);
}

/* visited link */
a:visited {
  color: rgb(61, 21, 21);
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: green;
}

.cup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 160px;
  background: rgb(182, 39, 39);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cup::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  border-radius: 50%;
  background: orange;
  border: 7px solid  rgb(182, 39, 39);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.cup:after {
  content: '';
  position: fixed;
  top: 48%;
  right: -50px;
  height: 90px;
  width: 80px;
  border-radius: 50%;
  background: transparent;
  border: 12px solid  rgb(182, 39, 39);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

h1{
	color: rgb(61, 45, 21);
	margin-left:30px;
  font-family: 'franklin Gothic';
  font-size : 200px;
}

p{
	font-family: 'franklin gothic',;
	text-align: center;
	color:rgb(61, 45, 21);
	margin:80px;
	padding:50px;
}