body {
    background-color: rgb(212, 188, 123);
  }
h1 { text-align:center; color:rgb(61, 45, 21); font-size : 50px; font-family:'Franklin Gothic'; 
}
p {text-align:center; color:rgb(109, 54, 54); font-size : 20px; font-family:'Franklin Gothic Medium';
}